:root {
  --link-color: #fe7867;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: 0;
  height: 5px;
  background: #fe7867;
  margin: 20px 0;
}

img {
  width: 100px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
flex: 1;
text-align: right;
}
nav ul{
  display: inline-block;
  list-style: none;
}


/* */
nav ul li{
display: inline-block;
margin-right: 20px;
}

a{
text-decoration: none;
color: #555;
}

p{
  color: #555;
  }

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex; /* Включаем Flexbox */
  flex-wrap: wrap; /* Чтобы элементы переносились на новую строку, если не помещаются */
  justify-content: space-between; /* Распределение картинок с равными промежутками */
}


/* Flexbox для размещения карты и формы */
.contact-section .group {
  display: flex;
  flex-direction: row; /* Рядом друг с другом */
  gap: 50px; /* Пробел между элементами */
  justify-content: space-between; /* Распределяем элементы по ширине */
  align-items: flex-start; /* Выравниваем элементы по верху */
  padding: 0 70px;
  margin-bottom: 50px;
}

.contact-section .text {
  flex: 1; /* Ширина карты */
}

.contact-section .group form {
  flex: 1; /* Ширина формы */
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--link-color);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #100e0e;
  background-color: var(--link-color);
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
}

.contact-section .group form button:hover {
  filter: brightness(.9);
}

@media (max-width: 768px) {
  .contact-section .group {
    flex-direction: column; /* Вертикальная ориентация на маленьких экранах */
  }
}

 /* Footer  */  

footer {
  background-color: #333; /* Темный фон футера */
  padding: 20px 0;
  text-align: center;
  color: #fff; /* Текст белого цвета */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: #fff; /* Белый цвет иконок по умолчанию */
  font-size: 24px; /* Размер иконок */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #fe7867; /* Цвет при наведении (например, синий) */
}


footer p {
  margin-top: 10px;
  font-size: 14px;
}
.button-container {
  display: flex;
  justify-content: center;  /* Центровка по горизонтали */
  align-items: center;      /* Центровка по вертикали */
}

.myButton {
  background-color: transparent;
  border-radius: 28px;
  border: 3px solid #fe7867;
  display: inline-block;
  cursor: pointer;
  color: #fe7867;
  font-family: Arial;
  font-size: 32px;
  padding: 22px 76px;
  text-decoration: none;
}

.myButton:hover {
  background-color: transparent;
}

.myButton:active {
  position: relative;
  top: 1px;
}